modules = ["web", "python-3.12"]
run = "python main.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python main.py"]

[workflows]
runButton = "Run Flask App"

[[workflows.workflow]]
name = "Run Flask App"
author = 43956440
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[[ports]]
localPort = 5000
externalPort = 80
