<div class="mb-4 border-bottom row" style="padding-bottom:15px">

    <div class="col-9">

        <h4 style="color: rgb(120, 120, 120)">{{job['title']}}</h4>

        <div><b>Location:</b>{{job ['Location']}}</div>

        {% if 'Salary' in job %}

        <div><b>Salary:</b>{{job['Salary']}}</div>

        {% endif %}

    </div>

    <div class="col-3">
        <a href="mailto:hello.jovialcarrer.ai?subject=application%20for%20{{job['title']}}&body=my%20Name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0Amy%20Resume%20Link%3A%20%3Cresume%20link%3E%0D%0A%0D%0Amy%20Linked%20Link%3A%20%3CLinked%20In%3E" type="button" class="btn btn-outline-primary">Apply</a>
    </div>

    
</div>